*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.hero {
    background-color: #1F2937;
    padding: 0 10%;
}

.hero__header {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}

.hero__nav ul{
    display: flex;
    list-style: none;
    gap: 1rem;
}

.hero__nav a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero__logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero__content {
    padding: 5em 1%;
    display: flex;
    justify-content: space-between;
}

.hero__main {
    max-width: 20vw;
}

.hero__title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero__para {
    font-size: 18px;
    color: #E5E7EB;
}

.hero__button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 900;
    max-width: fit-content;
    padding: 0.5em 2em;
    border-radius: 7px;
    margin-top: 1rem;
}

.hero__button a {
    color: inherit;
    text-decoration: none;
}